.contents {
  border-radius: 0.3em;
  cursor: pointer;
  font-size: inherit;
  position: relative;
}

.contents > span {
  padding-left: 0.3em;
  padding-right: 0.3em;
  visibility: visible;
}

.is--hidden {
  user-select: none;
}

.is--hidden > span {
  visibility: hidden;
}
